body{
    background: #04c2a5;
}

div{}

.TitleCard {
    background-color: crimson;
    font-family: marcellus-font;
}

@font-face {
    font-family: marcellus-font;
    src: url(../fonts/MarcellusSC-Regular.ttf);
}